<%- include('./partials/head.ejs') %>

<body>
    <header>
	<h1>Guestbook</h1>

	<% if (user) { %>
	    <p>Hello <%= user.username %>! You are logged in as <%= user.role %>!</p>
	    <p>
		<form method="POST" action="/logout">
		    <button type="submit">Log out</button>
		</form>
	    </p>
	<% } %>
    </header>

    <center>
	<form method="POST" action="/">
	    <table>
		<tr>
		    <th align="right" style="vertical-align:top;">
			<label for="name">Name:</label>
		    </th>
		    <td>
			<input type="text" id="name" name="name" placeholder="Anonymous">
		    </td>
		</tr>
		<tr>
		    <th align="right" style="vertical-align:top;">
			<label for="email">Email:</label>
		    </th>
		    <td>
			<input type="email" id="email" name="email">
		    </td>
		</tr>
		<tr>
		    <th align="right" style="vertical-align:top;">
			<label for="message">Message:</label>
		    </th>
		    <td>
			<textarea name="message" rows="10" cols="50" required="true"></textarea>
		    </td>
		</tr>
		<tr>
		    <th align="right" style="vertical-align:top;"></th>
		    <td>
			<button type="submit">Post message</button>
		    </td>
		</tr>
	    </table>
	</form>
    </center>
	    
    <hr/>

    <main>
	<% posts.forEach(post => { %>
	    <article>
		<%- include("./partials/post.ejs", { post, user } ) %>
	    </article>
	<% }); %>
    </main>
	
</body>
